@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes radial-gradient {
  0%, 100% {
    background-position: center;
    background-size: 100% 100%;
  }
  50% {
    background-size: 120% 120%;
  }
}

.animate-radial {
  background: radial-gradient(circle at center, #f5f3ff, #e9d5ff, #f0f9ff);
  animation: radial-gradient 8s ease-in-out infinite;
}
